<ion-header>
  <ion-toolbar>
    <ion-title>VIDEOGAMES</ion-title>
  </ion-toolbar>
  <ion-button routerLink="/inicio">volver a inicio</ion-button>
</ion-header>


  <ion-content [fullscreen]="true">
    <div  id="container">
      <ion-card class="imagenes" >
        <ion-card-header>
          <ion-card-title>Juego de 24 recipientes</ion-card-title>
          <ion-img src="https://m.media-amazon.com/images/I/71qrQeaNNnL._AC_SX679_.jpg" alt=""></ion-img>
          <ion-card-subtitle>Precio:$615.20</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
  
      <ion-card class="imagenes" >
        <ion-card-header>
          <ion-card-title>Estabilizador para celular</ion-card-title>
          <ion-img src="https://m.media-amazon.com/images/I/71DSi2qYpUL._AC_SX522_.jpg" alt=""></ion-img>
          <ion-card-subtitle>Precio:$767.20</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
  
      <ion-card class="imagenes" > 
        <ion-card-header>
          <ion-card-title>Audifonos Inalambricos Audífonos Bluetooth 5.3</ion-card-title>
          <ion-img src="https://m.media-amazon.com/images/I/513BsYaLMrL._AC_SX522_.jpg" alt=""></ion-img>
          <ion-card-subtitle>Precio:$587.00</ion-card-subtitle>
        </ion-card-header>
      </ion-card>

        <ion-card class="imagenes" >
          <ion-card-header>
            <ion-card-title>Caja de joyería de Cuero, Organizador de joyas con Cerradura 2 Capas</ion-card-title>
            <ion-img src="https://m.media-amazon.com/images/I/71HcE5dJiGS._AC_SX522_.jpg" alt=""></ion-img>
            <ion-card-subtitle>Precio:$215.20</ion-card-subtitle>
          </ion-card-header>
      </ion-card>

          <ion-card class="imagenes" >
            <ion-card-header>
              <ion-card-title>BINDEN Drone S7 Dron con Cámara de Video 720p</ion-card-title>
              <ion-img src="https://m.media-amazon.com/images/I/61gA9oelmGL._AC_SX522_.jpg" alt=""></ion-img>
              <ion-card-subtitle>Precio:$2,999.00</ion-card-subtitle>
            </ion-card-header>
        
  
  
  
  
  

  


   