<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img style="width: 80px; height: 80px; flex: auto;" src="https://assets.stickpng.com/images/585e4bd7cb11b227491c3397.png"></ion-img>
  <div>
    <ion-list>
      <ion-item>
        <ion-label>Usuario</ion-label>
        <ion-input placeholder="Usuario"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input type="password" placeholder="Contraseña" value=""></ion-input>
      </ion-item>
    </ion-list>
    <ion-button fill="outline" routerLink="/inicio">Iniciar sesion</ion-button>
    <ion-button fill="outline">Registrarse</ion-button>
  </div>
</ion-content>
