<ion-header>
  <ion-toolbar>
    <ion-title>producto</ion-title>
  </ion-toolbar>
  <ion-button routerLink="/inicio">volver a inicio</ion-button>
</ion-header>

<ion-content>
  <ion-list>
     <ion-item>
      <ion-label>fecha de alta del producto </ion-label>
        <ion-datetime placeholder="anio">

        </ion-datetime>
    </ion-item>
  </ion-list>
</ion-content>

<ion-list>
  <ion-item>
    <ion-label>nombre del videojuego: </ion-label>
    <ion-input placeholder="Enter text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>clasificacion: </ion-label>
    <ion-input type="number" placeholder="000"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>comercializadora: </ion-label>
    <ion-input placeholder="Enter text"></ion-input>
  </ion-item>

  <button>guardar</button>

 
</ion-list>

